<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @section.title %>
</p>

<p>
  <strong>Body text:</strong>
  <%= @section.body_text %>
</p>

<p>
  <strong>File ref:</strong>
  <%= @section.file_ref %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
